@media only screen and (max-width: 800px) {
.main_banner .wrapper{
display: flex;
flex-direction: column;
align-items: center;
}
.main_banner .wrapper .pic{
margin: auto;
order: 1;
margin-bottom: 30px;
}

.main_banner .wrapper .text{
    margin-bottom: 30px;
    order: 2;
}
.second .inline{
    display: none;
}
.second .container{
    display: block;
}
.second .container article{
    margin: auto;
    margin-bottom: 30px;
}
}


@media (max-width: 767px) {
    body.lock{
        overflow: hidden;
    }
    header nav{
        position: fixed;
        width: 100%;
        top: -100%;
        transition: 0.5s ease-in-out;

    }
     header nav ul{
        display: block;
        text-align: center;
        position: relative;
        right: 65px;
     }
     header nav.active ul{
        position: relative;
        right: 65px;
     }
      header nav ul li{
        margin-right: 0;
        margin-bottom: 30px;
        margin-left: 0;
      }
       header nav ul li a{
        font-size: 25px;
       }
    header nav.active{
        top: 0px;
        padding: 100px;
        height: 100%;
        background-color: cadetblue;
    }
    header .header_burger{
        float: right;
        width: 30px;
        height: 20px;
        display: block;
        position: relative;
        margin-right: 10px;
        margin-top: 20px;
        z-index: 2;
    }
    header .header_burger span{
        position: absolute;
        top: 9px;
        height: 2px;
        width: 100%;
        background-color: black;
    }
     header .header_burger::before,
     header .header_burger::after{
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: black;
        transition: 0.3s ease-in-out;
     }
     header .header_burger::before{
        top: 0;
     }
      header .header_burger::after{
        bottom: 0;
     }
      header .header_burger.active::before{
        top: 9px;
        transform: rotate(45deg);
     }
     header .header_burger.active::after{
        bottom: 9px;
        transform: rotate(-45deg);
     }
     header .header_burger.active span{
        transform: scale(0);
     }
}


@media only screen and (max-width: 641px) {
    .main_banner .wrapper .text{
        text-align: center;
    }
    .main_banner .wrapper .text p{
    max-width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
    }
    .main_banner .wrapper .pic img{
        display: block;
        margin: auto;
    }
    .third .priority h5{
        text-align: center;

    }
    .third .priority .bonjur .photo{
        margin-right: 0;
    }
    .third .priority .bonjur .photo img{
        margin: auto;
        margin-right: 0;
    }
    .third .priority .bonjur{
        display: block;
        text-align: center;
    }
    .third .priority .bonjur .text_connect{
        max-width: 300px;
        display: block;
        margin: auto;
    }
    .third .priority .bonjur .describtion .text_connect{
        display: none;
    }
    .third .priority .bonjur .describtion p{
        max-width: 300px;
        display: block;
        margin: auto;
    }
    footer .foot_flex{
        position: relative;
        left: 12px;
    }
    footer p{
        position: relative;
        left: 15px;
    }
    }
   